scroll-to-top-button {
  display: inline-flex;
  pointer-events: all;
  cursor: pointer;
}

#scroll-to-top-button-2 {
  margin-top: 2px;
  transform: rotate( -180deg );
}

scroll-to-top-button[data-state-disabled] {
  pointer-events: none;
  visibility: hidden;
}

/**
 * @todo Add accessibility setting in Options that doesn't disable outline.
 */

scroll-to-top-button:focus {
  outline: none;
}
