scroll-to-top-button {
  display: inline-flex;
  pointer-events: all;
  cursor: pointer;
}

#scroll-to-top-button-2 {
  margin-top: 2px;
  transform: rotate( -180deg ) !important; /* !important to override Togglific's CSS - see https://github.com/PoziWorld/Scroll-To-Top-Button-extension/issues/9 */
}

scroll-to-top-button[data-state-disabled] {
  pointer-events: none;
  visibility: hidden;
}

.infinite#scroll-to-top-button-2::after {
content: '∞';
  display: block;
  position: absolute;
  font-size: 200%;
  top: -2.5rem; /* #scroll-to-top-button-2 is a rotated #scroll-to-top-button-1 :-) */
  width: 100%;
  height: 200%;
  color: #000;
  text-align: center;
  text-shadow: .1rem .1rem #fff;
}

/**
 * @todo Add accessibility setting in Options that doesn't disable outline.
 */

scroll-to-top-button:focus {
  outline: none;
}
